<html>
  <head>
    <meta charset='UTF-8' />
    <title>Welcome to {{appName}}</title>
  </head>
  <body
    style='font-family: Arial, sans-serif; margin: 20px; padding: 20px; background-color: #f4f4f4;'
  >
    <h1>Welcome to {{appName}}!</h1>
    <p>Hi {{username}},</p>
    <p>
      Thank you for requesting a password reset. Please click the link below to
      reset your password:
    </p>
    <p>
      <a href='http://localhost:3000/forgot-password/reset/{{userId}}/{{otp}}'>
        Reset Password
      </a>
    </p>
    <p>
      If you didn't request this password reset, please ignore this email or
      contact our support team.
    </p>
    <p>
      Best regards,<br />
      The
      {{appName}}
      Team
    </p>
  </body>
</html>